#profileApp{
  // button[aria-label="Maximize"],
  // .handleWrap{display: none;}
  .window-body{
    padding: 1px;
    height: 100%;
    overflow: auto;
    padding: 14px; 
  }

  li{
    &::before{
      content: '-';
      margin-right: 10px;
    }
  }

  .profileContainer{
    // height: 100%;
    padding: 24px; 
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;

    .profileInfo{
      display: flex;
      justify-content: space-between;

      .imageWrap{
        width: 50%;
        box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;

        img{
          width: 100%; height: 100%;
          margin: 0; object-fit: cover;
          position: relative; z-index: -1;
        }
      }

      .specList{
        margin-right: auto;
        padding: 32px;
        align-self: center;

        .helpBtn{
          margin-top: 20px;
          font-size: 16px;
          padding: 6px 24px;
        }
      }
    }

    .profileContentsWrap{
      // border-radius: 3px;
      border: 1px solid #8c8c8c; padding: 26px;
      margin: 16px;
      position: relative;
      box-shadow: 1px 1px 0 #e9e9e9, 1px 1px 0 #e9e9e9 inset;

      .secTit{
        position: absolute;
        top:-14px; left: 14px;
        background-color: silver;
        padding: 2px 4px;
      }
    }

    .specContainer{
      display: flex; flex-wrap: wrap;

      .profileContentsWrap{
        width: calc(50% - 32px);

        &:last-child{
          width: 100%;
        }
      }
    }

    .skillWrap{
      display: flex;
      ul{
        display: inline-block;
        width: 50%;
      }
    }

    .experienceWrap{
      li::before{
        display: none;
      }

      li:last-child{
        span{ margin-bottom: 0; }
      }
      
      p::before{
        content: '-';
        margin-right: 10px;
      }

      span{
        display: block;
        font-size: 16px; color:#484848;
        margin-left: 24px; margin-bottom: 12px;
      }
    }



  }

  .resumeBtnWrap{
    padding: 20px 0 10px;
    display: flex;justify-content: flex-end;
    gap: 12px;

    // flex-direction: column;

    button{
      display: flex; align-items: center;
      font-size: 16px;  color: #000;
      padding: 10px 20px;
      text-shadow: none;

      &::before{
        content: ''; 
        display: inline-block; width: 20px; height: 20px; margin-right: 8px;
        background-repeat: no-repeat; background-position: center; background-size: contain;
      }
      
      &.introBtn::before{
        @include notepadImg
      }

      &.projectBtn::before{
        @include myDocImg
      }

      &.wantedBtn::before{
        @include wantedImg
      }

      strong{
        font-size: 14px; font-weight: 400;
        margin-left: 4px;

        span{
          text-decoration: underline;
        }
      }
    }
  }

  .closeBtnWrap{
    display: flex; justify-content: flex-end; gap:12px;
    margin-top: 28px; padding-top: 28px; 
    border-top: 1px solid #fff;
    box-shadow: 0px -1px 0px rgb(128, 128, 128);

    button{
      min-width: 150px;
      font-size: 16px;
      color: #000;
      padding: 8px 20px;
      text-shadow: none;
    }
  }
}