
.toolBarWrap{
  display: flex; flex-direction: column;
  padding: vw(1);
  margin-top: vw(1); margin-bottom: vw(5);
  border: vw(1) solid rgb(128, 128, 128);
  box-shadow: 0 vw(1) 0 #fff, 0 vw(1) 0 #fff inset;
}

.toolBar {
  position: relative;
  display: flex; flex-direction: row; align-items: center;
  flex-shrink: 0; overflow: hidden;
  padding-left: vw(10);

  & + .toolBar {
    border-top: vw(1) solid #fff;
    box-shadow: 0 vw(-1) 0 rgb(128, 128, 128);
    margin-top: vw(2);
  }

  &:before {
    content: "";
    display: block;
    width: vw(4);
    position: absolute;
    top: vw(2); left: vw(2); bottom: vw(1);
    border: vw(1) solid;
    border-color: rgb(255, 255, 255) rgb(128, 128, 128) rgb(128, 128, 128) rgb(255, 255, 255);
  }

  &.topMenu{
    margin-top: vw(2);
    > button{
      width: auto; min-width: auto; min-height: auto;
      height: vw(18);
      font-family: 'W95','Pretendard', "Segoe UI", Tahoma, Verdana, sans-serif;
      font-size: vw(11); letter-spacing: vw(0.2); font-weight: 500; line-height: 1;
      margin-top: vw(1); margin-bottom: vw(1);
      padding: vw(2) vw(5);
      outline: 0;
      background: rgb(192, 192, 192);
      box-shadow: none;
      
      &:hover{
        box-shadow: vw(1) vw(1) 0 rgb(255, 255, 255) inset, vw(-1) vw(-1) 0 rgb(128, 128, 128) inset;
      }

      span{
        text-decoration: underline;
      }
    }
  }

  &.middleMenu{
    padding-top: vw(3); gap:vw(2);
    
    .arrowBtnWrap{
      display: flex; flex-direction: row; 
  
      &:hover{
        > button{
        border-style: solid; border-width: vw(1);
        border-color: #fff rgb(128, 128, 128) rgb(128, 128, 128) #fff;
        }
      }
    }
  
    button{
      min-width: auto; min-height:auto;
      box-shadow: none; padding: 0;
      color:#000;
      display: flex; flex-direction: column;
      align-items: center; justify-content: center;
      text-shadow: none;
  
      &:disabled{
        color: rgb(128, 128, 128);
        text-shadow: vw(1) vw(1) 0 rgb(255, 255, 255);
  
        &::before, & svg{
          // filter: url(#disabled-inset-filter);
          // color: rgb(128, 128, 128);
          // text-shadow: vw(1) vw(1) 0 rgb(255, 255, 255);
        }
      }
  
      &.toolbarButton{
        width: vw(60); height: vw(40);
        font-size: vw(12); line-height: vw(12); letter-spacing: vw(0.2);
        font-family: 'W95','Pretendard', "Segoe UI", Tahoma, Verdana, sans-serif;
        border-width: vw(1);
        border-color: #fff rgb(128, 128, 128) rgb(128, 128, 128) #fff;
        
        &:focus{ outline: none; }
        &:not(:disabled){
          &::before{
            opacity: 1;
            filter: none;
          }
          &:hover{
            border-style: solid;
            border-width: vw(1);
            border-color: #fff rgb(128, 128, 128) rgb(128, 128, 128) #fff;
  
            &::before{
              background-image: url('../assets/images/common/browse-ui-icons.png');
            }
  
            &:active{
              box-shadow: none;
              text-shadow: none;
              border-style: solid;
              border-width: vw(1);
              border-color: rgb(128, 128, 128) rgb(255, 255, 255) rgb(255, 255, 255) rgb(128, 128, 128);
            }
          }
        }
  
        &::before{
          content: '';
          display: block;
          width: vw(20); height: vw(20);
          background-image: url('../assets/images/common/browse-ui-icons-grayscale.png');
          background-repeat: no-repeat;
          opacity: 0.5;
          background-size: vw(1260) vw(20); 

          filter: grayscale(1) brightness(1.5);
  
          @include parent-selector('.toolbarButton', '.backButton') {
            background-position: 0 0;
          }
  
          @include parent-selector('.toolbarButton', '.forwardButton') {
            background-position: -20px 0;

            @include pcUnder{ background-position-x: -2vw; }
          }
  
          @include parent-selector('.toolbarButton', '.stopButton') {
            background-position: -40px 0;

            @include pcUnder{ background-position-x: -4vw; }
          }
  
          @include parent-selector('.toolbarButton', '.refreshButton') {
            background-position: -60px 0;

            @include pcUnder{ background-position-x: -6vw; }
          }
  
          @include parent-selector('.toolbarButton', '.homeButton') {
            background-position: -80px 0;

            @include pcUnder{ background-position-x: -8vw; }
          }
  
          @include parent-selector('.toolbarButton', '.searchButton') {
            background-position: -100px 0;

            @include pcUnder{ background-position-x: -10vw; }
          }
  
          @include parent-selector('.toolbarButton', '.favoritesButton') {
            background-position: -120px 0;

            @include pcUnder{ background-position-x: -12vw; }
          }
  
          @include parent-selector('.toolbarButton', '.historyButton') {
            background-position: -240px 0;

            @include pcUnder{ background-position-x: -24vw; }
          }
  
          @include parent-selector('.toolbarButton', '.printButton') {
            background-position: -140px 0;

            @include pcUnder{ background-position-x: -14vw; }
          }
  
          @include parent-selector('.toolbarButton', '.upButton') {
            background-position: -880px 0;

            @include pcUnder{ background-position-x: -88vw; }
          }
  
          @include parent-selector('.toolbarButton', '.cutButton') {
            background-position: -420px 0;

            @include pcUnder{ background-position-x: -42vw; }
          }
  
          @include parent-selector('.toolbarButton', '.copyButton') {
            background-position: -440px 0;

            @include pcUnder{ background-position-x: -44vw; }
          }
  
          @include parent-selector('.toolbarButton', '.pasteButton') {
            background-position: -460px 0;

            @include pcUnder{ background-position-x: -46vw; }
          }
  
          @include parent-selector('.toolbarButton', '.undoButton') {
            background-position: -480px 0;

            @include pcUnder{ background-position-x: -48vw; }
          }
  
          @include parent-selector('.toolbarButton', '.deleteButton') {
            background-position: -520px 0;

            @include pcUnder{ background-position-x: -52vw; }
          }
  
          @include parent-selector('.toolbarButton', '.propertiesButton') {
            background-position: -620px 0;

            @include pcUnder{ background-position-x: -62vw; }
          }
  
          @include parent-selector('.toolbarButton', '.viewsButton') {
            background-position: -760px 0;

            @include pcUnder{ background-position-x: -76vw; }
          }
        }
        
        .btnLabelText{margin-top: vw(4);}
      }
  
      &.toolbarDropdownButton{
        width: vw(16); height: vw(40);
        line-height: vw(30);
        box-shadow: none;
  
        &:focus{ outline: none; }
        &:hover:active{
          box-shadow: none;
          border-style: solid;
          border-width: vw(1);
          border-color: rgb(128, 128, 128) rgb(255, 255, 255) rgb(255, 255, 255) rgb(128, 128, 128);
        }

        svg{ width: vw(16); height: vw(16); }
      }
    }
  
    hr[aria-orientation='vertical']{
      display: block;
      width: 0; height: vw(22);
      margin: 0; border: 0;
      border-left: vw(1) solid rgb(128, 128, 128); border-right: vw(1) solid #fff;
      margin-left: vw(2); margin-right: vw(2);
    }
    .filter{
      position: absolute; z-index: -1; 
    }
  }
  
  &.addressBar{
    display: flex; flex-direction: row;
    align-items: center;
  
    > label{
      font-size: vw(12); letter-spacing: vw(0.2);
      padding: 0 vw(4);
      font-family: "W95", "Pretendard", "Segoe UI", Tahoma, Verdana, sans-serif; 
      margin-right: vw(5);
      -webkit-font-smoothing: none;
      -moz-osx-font-smoothing: none;
      text-rendering: auto;
    }
  
    #addressInput{
      display: flex; flex: 1; align-items: center;
      width: 100%; height: vw(23);
      background: #fff;
      color: #000;
      margin-top: vw(1); margin-bottom: vw(1);
      box-shadow: inset vw(-1) vw(-1) #fff, inset vw(1) vw(1) grey, inset vw(-2) vw(-2) #dfdfdf, inset vw(2) vw(2) #0a0a0a;
  
      #addressIcon{
        width: vw(16); height: vw(16);
        margin: vw(3) vw(4) 0;
      }

      #address{
        font-family: "W95", "Pretendard", "Segoe UI", Tahoma, Verdana, sans-serif;
        width: 100%; height: 100%;
        box-shadow: none;
        background-color: transparent;
        color: #000;
        font-size: vw(11);
        -webkit-font-smoothing: auto;
      }
      #addressDropdownButton{
        // display: flex; align-items: center; justify-content: center;
        width: vw(19); height: vw(19);
        margin-right: vw(2);
        min-width: auto; min-height:auto;
        box-shadow: none; padding: 0;
        border-color: #fff rgb(128, 128, 128) rgb(128, 128, 128) #fff;
        border-style: solid; border-width: vw(2) vw(2);
        text-shadow: vw(1) vw(1) 0 #fff;
  
        svg{
          position: relative;
          // display: flex; align-items: center; justify-content: center;
          path{
            transform: translate(10%, 10%) rotate(90deg);
          }
        }
      }
    }
  }
}