.appIcon{
  position: relative;
  display: flex; flex-direction: column;
  width: vw(88); height: auto; min-width: auto;
  background-color: transparent;
  margin: vw(18) vw(8); padding: 0;
  box-shadow: none;
  color: #fff;

  &:not(:disabled):active{
    box-shadow: none;
    text-shadow: none;
  }
  
  span.iconName{
    width: auto;
    align-self: center; text-align: center;
    padding: vw(3) vw(6) vw(2);
    word-break: keep-all;
    font-size: vw(15); 
    font-weight: 400;
    text-shadow: vw(1) vw(1) 0 #000;

    @at-root .ProgramWindow &{
      text-shadow: none;
    }

    @include parent-selector('.appIcon', '#ie') {
      width: 80%;
    }
  }

  &:focus{
    outline: none;

    .iconImage{
      &::before{
        content:"";
        display: block;
        width: 100%; height: 100%;
        background-color: #0000a2;
        opacity: 0.5;
        mask-repeat: no-repeat; mask-size: contain; mask-position: center;
        mask-image: url("../assets/images/common/file.png"); 
        -webkit-mask-image: url("../assets/images/common/file.png");
      }
    }

    span.iconName {
      background-color: #0000a2;
      color: #ffffff;
      outline: vw(1) dotted #ffffff;
      outline-offset: -vw(1);
    }
  }
}