.appIcon{
  position: relative;
  display: flex; flex-direction: column;
  width: 88px; height: auto; min-width: auto;
  background-color: transparent;
  margin: 18px 8px; padding: 0px;
  box-shadow: none;
  color: #fff;

  &:not(:disabled):active{
    box-shadow: none;
    text-shadow: none;
  }
  
  span.iconName{
    width: auto;
    align-self: center; text-align: center;
    padding: 3px 6px 2px;
    word-break: keep-all;
    font-size: 15px; 
    font-weight: 400;
    text-shadow: 1px 1px 0 #000;

    @at-root .ProgramWindow &{
      text-shadow: none;
    }

    @include parent-selector('.appIcon', '#ie') {
      width: 80%;
    }
  }

  &:focus{
    outline: none;

    .iconImage{
      &::before{
        content:"";
        display: block;
        width: 100%; height: 100%;
        background-color: #0000a2;
        opacity: 0.5;
        mask-repeat: no-repeat; mask-size: contain; mask-position: center;
        mask-image: url("../assets/images/common/file.png"); 
        -webkit-mask-image: url("../assets/images/common/file.png");
      }
    }

    span.iconName {
      background-color: #0000a2;
      color: #ffffff;
      outline: 1px dotted #ffffff;
      outline-offset: -1px;
    }
  }
}