.bootScreen{
  color:#b2b2b2;
  font-family: 'Menlo', sans-serif;
  font-size: vw(16);
  position: fixed;
  top:0%; left: 0%;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  line-height: 1.25;

  &:after{
    @include flicker
  }

  strong{color:#fff;}

  &.loaded{
    animation: turn-on 1.8s $ease-out-quint;
    animation-fill-mode:forwards;
  }  

  .screenInner{
    background-color: $screen-background;
    padding: vw(30) vw(60);
    width: 100%;
    max-width: vw(2560);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    .colheader{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      img{ width: vw(302); }
    }
  
    .colTop{
      margin-top: vw(40);
    }
  
    .colMiddle{
      margin-top: vw(40);
  
      .biosLine { opacity: 0; }
      .biosLine.show {opacity: 1; }
    }
  
    .colBottom{
      margin-top: auto;
    }
  
    .biosLine{
      + p{ margin-top: vw(10); }
    }
  
  
    p.endLine{
      margin-top: vw(40);
  
      button#enterPortfolio{
        background: none;
        border: none;
        cursor: pointer;
        font-size: vw(16);
        box-shadow: none;
        width: auto; max-width: none;
        min-height: auto;
        min-width: auto;
        padding: 0;

        &:focus{ outline: none!important; }
        &:active{ box-shadow: none!important; text-shadow: none!important;}
      }
    }

    .isMobile{
      margin-top: vw(30);
      font-family: 'Pretendard';
      font-size: vw(18);
      line-height: 1.5;
    }
  }
}