@import './common/common';

$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;



.bootScreen{
  color:#b2b2b2;
  font-family: $Consolefont;
  font-size: 16px;
  position: fixed;
  top:0%; left: 0%;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  strong{color:#fff;}

  &.loaded{
    animation: turn-on 1.8s $ease-out-quint;
    animation-fill-mode:forwards;

    // flicker
    &:after{
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      background:transparentize($screen-background,0.9);
      opacity:0;
      z-index:2;
      pointer-events:none;
      animation:flicker 0.15s infinite;
    }

    // scanlines
    &:before{
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
      z-index:2;
      background-size:100% 2px, 3px 100%;
      pointer-events:none;
    }
  }  
}
.screenInner{
  padding: 30px 60px;
  width: 100%;
  max-width: 2560px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .colheader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .colTop{
    margin-top: 40px;
  }

  .colMiddle{
    margin-top: 40px;

    .biosLine {
      opacity: 0;
    }
    
    .biosLine.show {
      opacity: 1;
    }
  }

  .colBottom{
    margin-top: auto;
  }

  .biosLine{
    + p{ margin-top: 10px; }
  }


  p.endLine{
    margin-top: 40px;

    #enterPortfolio{
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: 16px;
    }
  }
}


@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i * calc(1 / $steps))} {
      opacity:random();
    }
  }
}

@keyframes overlay-anim{
  0%{
    visibility:hidden;
  }
  20%{
    visibility:hidden;
  }
  21%{
    visibility:visible;
  }
  100%{
    visibility:hidden;
  }
}

@keyframes turn-on{
  0%{
    transform:scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter:brightness(100);
    filter:brightness(100);
    opacity:1;
  }
  5%{
    animation-timing-function:$ease-in-quint;
    transform:scale(0, 0.0005) translate3d(0, 0, 0);
    -webkit-filter:brightness(50);
    filter:brightness(50);
    opacity:1;
  }
  50%{
    transform:scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter:brightness(50);
    filter:brightness(50);
  }
  80%{
    animation-timing-function: ease-out;
    transform: scale(1.005, 1.005) translate3d(0, 0, 0);
    -webkit-filter:brightness(1);
    filter:brightness(1);
    opacity:1;
  }
  100%{
    transform:scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter:brightness(1);
    filter:brightness(1);
    opacity:1;
  }
}