// common
@import './common/common';

.DeskTopScreen{
  font-family: 'W95','DosGothic', "Segoe UI", Tahoma, Verdana, sans-serif;
  color:#000;

  &.loaded .screenInner{
    opacity: 1;
  }
  .screenInner{
    position: absolute; top:0; left: 0;
    width: 100%; height: 100vh;
    background-color: aqua;
    opacity: 0; transition: opacity .5s ease-out;
    background: url('../assets/images/desktopBg.jpg') no-repeat center / cover;
  }
}