.DeskTopScreen{
  font-family: 'W95','DosGothic', "Segoe UI", Tahoma, Verdana, sans-serif;
  color:#000;
  * {cursor: url('data:image/gif;base64,R0lGODlhCwATAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAALABMAAAIrhI4JlhrcBAgvSlrbxPBs7mAU9IlMaV7mwo6jY2zk+Xphh8iWint1tDgUAAA7'), default !important;}

  &.loaded .screenInner{
    opacity: 1;
  }
  .screenInner{
    position: absolute; top:0; left: 0;
    width: 100%; height: 100vh;
    background-color: aqua;
    opacity: 0; transition: opacity .5s ease-out;
    background: url('../assets/images/desktopBg.jpg') no-repeat center / cover;
  }
}