.ProgramWindow {
  position: absolute; top:0; left: 0;
  box-sizing: border-box;
  border: 1px solid #000;
  z-index: 1;
  outline: none;

  &[data-window=focused]{
    z-index: 7 !important;
    .title-bar{background: linear-gradient(90deg, navy, #1084d0);}
  }

  &.minimized{
    display: none;
  }

  &.maximized{
    transform: none !important;
  }

  .title-bar{
    background: linear-gradient(90deg, grey, #b5b5b5);
    padding: 1px 3px 1px 3px;

    .title-bar-text{
      font-size: 13px; padding-left: 4px;

      &::before{
        content: '';
        display: inline-block;
        width: 14px; height: 14px;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        vertical-align: middle;

        @include parent-selector('.ProgramWindow', '#myPc') {
          @include myPcImg
        }
        @include parent-selector('.ProgramWindow', '#myDoc') {
          @include myDocImg
        }
        @include parent-selector('.ProgramWindow', '#trashCan') {
          @include trashCanImg
        }
        @include parent-selector('.ProgramWindow', '#ie') {
          @include ieImg
        }
        @include parent-selector('.ProgramWindow', '#outlook') {
          @include outlookImg
        }
        @include parent-selector('.ProgramWindow', '#help') {
          @include helpImg
        }
      }
    }
  }

  .container{
    display: flex; flex-direction: column;
    width: 100%; height: 100%;
    font-size: 16px; font-weight: 400;
    letter-spacing: 0.5px; line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1, "kern" 1;
    // -webkit-text-stroke: 0.5px;

    .window-body{
      width: 100%; height: 100%;
      margin: 0;
      overflow: hidden;
    }

    .toolBarWrap{
      display: flex; flex-direction: column;
      padding: 1px;
      margin-top: 1px; margin-bottom: 5px;
      border: 1px solid rgb(128, 128, 128);
      box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    }

    .toolBar {
      position: relative;
      display: flex; flex-direction: row; align-items: center;
      overflow: hidden;
      padding-left: 10px;

      & + .toolBar {
        border-top: 1px solid #fff;
        box-shadow: 0px -1px 0px rgb(128, 128, 128);
        margin-top: 2px;
      }

      &:before {
        content: "";
        display: block;
        width: 4px;
        position: absolute;
        top: 2px; left: 2px; bottom: 1px;
        border: 1px solid;
        border-color: rgb(255, 255, 255) rgb(128, 128, 128) rgb(128, 128, 128) rgb(255, 255, 255);
      }

      &.topMenu{
        > button{
          width: auto; min-width: auto; min-height: auto;
          height: 18px;
          font-family: 'W95','DosGothic', "Segoe UI", Tahoma, Verdana, sans-serif;
          font-size: 11px; letter-spacing: 0.2px; font-weight: 500; line-height: 1;
          margin-top: 1px; margin-bottom: 1px;
          padding: 2px 5px;
          outline: 0;
          background: rgb(192, 192, 192);
          box-shadow: none;
          
          &:hover{
            box-shadow: 1px 1px 0 rgb(255, 255, 255) inset, -1px -1px 0 rgb(128, 128, 128) inset;
          }

          span{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.resize-handle {
  position: absolute;
  background: transparent;
  z-index: 10;
  
  &.right {
    top: -5px;
    right: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
  }
  
  &.bottom {
    left: -5px;
    bottom: -5px;
    width: 100%;
    height: 10px;
    cursor: ns-resize !important;
  }
  
  &.bottom-right {
    right: -5px;
    bottom: -5px;
    width: 10px;
    height: 10px;
    cursor: nwse-resize !important;
  }
  
  &.left {
    top: -5px;
    left: -5px;
    width: 10px;
    height: 100%;
    cursor: ew-resize !important;
  }
  
  &.top {
    top: -5px;
    left: -5px;
    width: 100%;
    height: 10px;
    cursor: ns-resize !important;
  }
  
  &.top-left {
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    cursor: nwse-resize !important;
  }
  
  &.top-right {
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    cursor: nesw-resize !important;
  }
  
  &.bottom-left {
    bottom: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    cursor: nesw-resize !important;
  }
}