.shutDownScreen{
  position: fixed;
  width: 100%; height: 100%;
  background: #000eab; color: #fff;
  font-family: 'Menlo', 'DungGeunMo', sans-serif;
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  font-size: vw(22); line-height: 1.3;

  strong{
    font-size: vw(26);
    padding: vw(2) vw(6); margin-bottom: vw(12);
    background-color: #fff;
    color:#000eab;
  }
  
  p:last-child{
    margin-top: vw(24);
  }

  button{
    font-family: 'Menlo', 'DungGeunMo', sans-serif;
    cursor: pointer;
    background: none; border: none; box-shadow: none;
    width: auto; max-width: none;
    min-height: auto; min-width: auto;
    padding: 0;
    background: #000eab; color: #fff;
    font-size: vw(22); line-height: 1.3;

    &:focus{ outline: none!important; }
    &:active{ box-shadow: none!important; text-shadow: none!important;}
  }
}