.StartBar{
  width: 100%; height: 35px;
  position: fixed;
  bottom: 0; left: 0;
  background-color: #bbc3c4;
  z-index: 30;
  box-shadow: 0px -2px 0px #ffffff;
  padding: 3px 8px;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;


  @mixin startLine {
    position: absolute;
    top: 1px;
    right: 0px;
    height: calc(100% - 2px);
    width: 1px;
    background-color: #808088;
    content: "";
    box-shadow: 1px 0px 0px #ffffff;
  }

  @mixin startDivition {
    position: absolute;
    top: 3px;
    right: -10px;
    height: calc(100% - 6px);
    width: 3px;
    background-color: #bbc3c4;
    content: "";
    box-shadow: inset -1px -1px 0px #808088, inset 1px 1px 0px #ffffff;
  }

  .startWrap{
    position: relative;
    margin-right: 14px;
    padding-right: 7px;
    flex-shrink: 0;
    &:after {
      @include startLine;
    }
              
    &:before {
      @include startDivition;
    }

    .StartButton {
      display: flex; align-content: center;
      width: 74px; height: 30px;
      padding-right: 6px;
      background-image: url('data:image/gif;base64,R0lGODlhNAATAPIFAAAAAAAA/wD/AP//AP8AAAAAAAAAAAAAACH5BAUAAAUALAAAAAA0ABMAAAOMWLrc/jDKSau9OF/Agf5RJ3ogRi4dwQkdI5aPJ6cqILAnp+j7KfGxEaF2AwJdvlBSQWhwaivjstCiVltVRnMLHR1fqKWOd2wMh50AZ5BFhsNYUlkRcAICasCAPZX2/mRTdYN5eGt8b1aJgYqND3iGdyKIcEmBcYkudl5zMBAyVm1tnhMjn6SoqaqrDwkAOw==');
      background-size: auto 24px;
      background-repeat: no-repeat;
      background-position: 3px 3px;
      image-rendering: auto;

      &.active{
        box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
        outline: 1px dotted #000;
        outline-offset: -4px;
      }
    }
  }

  .startMenu{
    display: flex; flex-direction: row;
    width: 360px; height: 0; background-color: silver; 
    position: absolute; left: 0; bottom: 32px; z-index: 2;
    text-align: left; overflow: hidden;
    transition: height .1s ease-out;

    &.active{
      height: 494px; padding: 2px;
      box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    }

    &::before{
      content: '';
      display: inline-block;
      width: 48px; height: 100%;
      background-color: #000080;
      box-sizing: border-box;
    }

    ul,li{width: 100%;}

    .sideLabel{
      position: absolute; left: 12px; bottom: -8px;
      font-size: 26px;
      color: #fff;
      transform: rotate(-90deg);
      transform-origin: 0 0;
    }

    ul{
      display: flex; flex-direction: column;
      margin-left: 2px;
    }

    button{
      display: flex; align-items: center;
      width: 100%; height: 70px;
      min-width: auto; min-height: auto;
      border:none; outline: none; box-shadow: none; text-shadow: none;
      font-size: 16px; font-weight: 200;
      color:#000; background:none;
      text-align: left;

      &:disabled{ text-shadow: 1px 1px 0 #fff; color: grey; pointer-events: none; }
      &:hover{background-color: #0000a2; color:#fff}
      &:focus{ outline: none; }
      &:active{ box-shadow: none; text-shadow: none;}

      &.startShutdown{
        border-top: 1px solid #fff;
        box-shadow: 0px -1px 0px rgb(128, 128, 128);
      }

      &::before{
        content: '';
        display: inline-block; width: 40px;height: 40px;
        margin-right: 16px;
        background: no-repeat center / contain;

        @include parent-selector('button', '.startShutdown') { background-image: url('../assets/images/common/shutdown-icon.png'); }
        @include parent-selector('button', '.startRun') { background-image: url('../assets/images/common/run-icon.png'); }
        @include parent-selector('button', '.startHelp') { background-image: url('../assets/images/common/help-48x48.png'); }
        @include parent-selector('button', '.startFind') { background-image: url('../assets/images/common/find-icon.png'); }
        @include parent-selector('button', '.startSetting') { background-image: url('../assets/images/common/setting-icon.png'); }
        @include parent-selector('button', '.startDocuments') { background-image: url('../assets/images/common/my-documents-48x48.png'); }
        @include parent-selector('button', '.startpPrograms') { background-image: url('../assets/images/common/programs-icon.png'); }
      }



      span{text-decoration: underline;}
    }
  }

  .quickButtonWrap{
    position: relative;
    margin-right: 14px;
    padding-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      @include startLine;
    }
              
    &:before {
      @include startDivition;
    }

    .quickBtn{
      width: 26px; height: 26px;
      min-width: auto;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAnUExURUdwTFOoqf///wAAAMDHyIeIjxEA/6ipUf7/AKoAVwcAqwD///8AAC/f764AAAABdFJOUwBA5thmAAAAZUlEQVQY012O0RKAIAgEQQ4s6/+/N06trH3bnZsBkYV9lw/1ZFDipG7V3EQPDZSEHpGhO7o3MHQfezSGxYFm4vRSh8MZ0osV2BOMR7AuskxnUNrt8yxeV34auIm+yFd9EMrX7ccF27wDshZIPIoAAAAASUVORK5CYII=) no-repeat center / contain;
    }
  }

  .appPanelWrap{
    position: relative;
    width: 100%;
    margin-right: 7px; padding-right: 7px;
    display: flex; justify-content: flex-start; align-items: center;

    &:after {
      @include startLine;
    }

    .runningProgram{
      width: 100%; height:100%;
      min-width: auto;
      margin: 0px 3px;
      max-width: 240px;
      box-shadow: inset -1px -1px 0px #0c0c0c, inset 1px 1px 0px #ffffff, inset -2px -2px 0px #808088, inset 2px 2px 0px #bbc3c4;
      width: 100%;
      font-size: 16px; 
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;

      span{
        position: relative;
        top: -4px;
      }

      &:before {
        content: "";
        display: inline-block;
        width: 20px; height: 20px;
        flex-shrink: 0;
        margin-top: 4px; margin-right: 8px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAMAAABBwMRzAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURUdwTP///wAAAMDHyP7/AIeIj/DYpwIAAAABdFJOUwBA5thmAAAAM0lEQVQI17WKwREAIAjDarH7r2zxOJUBDK+UAFCCg2b41NVDZRoPor2CHaVfjR//BgE2FuJjAlfcks8tAAAAAElFTkSuQmCC") no-repeat center / contain;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &.active{
        background-color: #ffffff;
        box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px #0c0c0c, inset -2px -2px 0px #bbc3c4, inset 2px 2px 0px #808088;
        font-weight: 600;

      }
    }
  }

  .notiWrap{
    position: relative;
    background-color: #bbc3c4;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 120px;
    height: 30px;
    padding: 0px 8px 0px 8px;
    box-shadow: inset -2px -2px 0px #ffffff, inset 2px 2px 0px #808088;
    
    time{
      // width: 100%;
      font-size: 15px;
    }
  }
}