@font-face {
  font-family: "Classic Console Neue";
  src: url("../../assets/images/font/clacon2.woff2") format("woff2");
}

@font-face {
  font-family: "DosGothic";
  src: url("../../assets/images/font/DOSGothic") format("ttf");
}

@font-face {
  font-family: "W95";
  src: url("../../assets/images/font/W95FA") format("otf");
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hahmlet';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hahmlet';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: 800;
}

@font-face {
  font-family: 'Hahmlet';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: 900;
}